<div class="page">
    <div class="logo">
        <mat-icon [inline]="true">menu_book</mat-icon>
        <h1>Librabobus</h1>
    </div>
    
    <div class="description">
        <p class="title">{{description}}</p>
    </div>

    <div class="fields" [formGroup]='authForm'>
       <input placeholder="Логин" formControlName="login">
       <div class="password">
            <input placeholder="Пароль" formControlName="password">
            <a>
                <p>Сброс пароля</p>
            </a>
       </div>
    </div>

    <div class="action">
        <button class="auth" (click)="signIn()">ВОЙТИ</button>
        <div class="registration">
            <p class="registration_title">Еще нет аккаунта?</p>
            <a routerLink="/registration" routerLinkActive="active">
                <p>ЗАРЕГИСТРИРУЙСЯ</p>
            </a>
        </div>
    </div>
</div>