<aside>
    <div class="content">
        <div class="logo">
            <mat-icon [inline]="true">menu_book</mat-icon>
            <h1>Librabobus</h1>
        </div>
        <nav>
            <a routerLink="/profile" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                <p>Профиль</p>
            </a>
            <a routerLink="/search" routerLinkActive="active">
                <mat-icon>search</mat-icon>
                <p>Поиск</p>
            </a>
            <a routerLink="/subjects" routerLinkActive="active">
                <mat-icon>menu_book</mat-icon>
                <p>Мои предметы</p>
            </a>
            <a routerLink="/savedsubjects" routerLinkActive="active">
                <mat-icon>favorite</mat-icon>
                <p>Сохраненные</p>
            </a>
            <a routerLink="/subscribers" routerLinkActive="active">
                <mat-icon>star</mat-icon>
                <p>Подписки</p>
            </a>
            <a routerLink="/subscriptions" routerLinkActive="active">
                <mat-icon>people</mat-icon>
                <p>Подписчики</p>
            </a>
        </nav>    
    </div>

    <button class="logout" (click)="onLogout()">Выйти</button>
</aside>

